body {
   font-family: Arial, sans-serif;
   font-size: 14px; }

.hidden {
   display: none; }

#functionCurveViewerFrame {
   margin-top: 5px;
   border: 1px solid black;
   width: 800px;
   height: 600px;
   resize: both;
   overflow: hidden; }

#functionCurveViewer {
   display: block;
   width: 100%;
   height: 100%;
   outline: none;
   touch-action: none;
   --curve-color: #448844;
   --curve-color1: #444444; }

div.buttons {
   color: #07C;
   margin-top: 8px;
   font-size: 12px; }

span.button {
   cursor: pointer; }

#helpText {
   background-color: #FEFAE2;
   border: 1px solid #F3EED5;
   padding: 3px;
   margin-top: 8px;
   margin-bottom: 20px;
   width: 450px; }

table.functionCurveViewerHelp {
   border-collapse: collapse;
   width: 100%; }

table.functionCurveViewerHelp td {
   padding: 3px;
   vertical-align: top;
   border-bottom: 1px solid #eee; }
table.functionCurveViewerHelp tr:last-child td {
   border-bottom: none; }

.functionCurveViewerHelpCol1 {
   width: 230px; }
